
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgb(230, 230, 230);
    background-color: rgb(60, 60, 60);
    margin: 0;
}

input:focus {
    outline: none;
}

.page-head {
	padding: 16px;
	font-size: 18px;
	margin-bottom: 16px;
	color: rgb(150,150,150);
	background: rgb(80, 80, 80);
}

.ui-container {
    background-color: #454545;
    border: 1px solid #353535;
    border-spacing: 0;
}

.input-text {
    padding: 6px 4px;
    color: #9f9fff;
    background-color: #353535;
    border-radius: 2px;
    border: 1px solid #8c8c8e;
    box-sizing: border-box;
    display: block;
}

.input-text:focus {
    outline: none;
    border: 1px solid #c9ac63;
    box-shadow: 0 0 10px #705c40;
}

.input-button {
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #808080;
}

.input-button:focus {
    border: 2px solid #a9910c;
}

.input-button:hover {
    background-color: #765e42;
    border: 2px solid #d9a12c;
}

.input-button:disabled {
    color: #b0b0b0;
    background-color: transparent;
    border: 2px solid #717171;
}

.logout-button:hover {
    color: #d9a12c;
}

.fluently {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}



.data-table {
    padding: 10px;
    width: 100%;
}

table.data-table thead tr th {
    padding: 4px;
    color: #d9a12c;
    min-width: 80px;
    text-align: left;
    cursor: default;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

table.data-table thead tr th:hover {
    background-color: #505050;
}

table.data-table tbody tr td {
    padding: 4px;
    min-width: 80px;
    text-align: left;
    border-top: 1px solid #555555;
    border-bottom: 0;
}


table.data-table tbody tr {
    cursor: default;
}

table.data-table tbody tr:hover {
    background-color: #555555;
}

.filter-container-row {
    margin-bottom: 8px;
}